$font-family: (
  main: "Roboto_head",
  sub: "Roboto",
);
$font-color: (
  primary: #bfc9d5,
  secondary-dark: #817984,
  secondary-light: #ebced2,
  sub: #2562ab,
);
$font-size: (
  large-heading: 60px,
  medium-heading: 45px,
  small-heading: 25px,
);
